

.l-container{
	max-width: $container-width;
	margin: 0 auto;
}
    		
#clearLocalStorage {
    margin: 20px 0;
    display: flex;
}

#clearLocalStorage button{
	margin-left: auto;
	font-size: .5em;
}